<div [style.width.px]="sidebarWidth" class="sidebar">
  <div class="sidebar-content">
    <div class="siderbar-content-header">
      <j-avatar
        [avatarUrl]="
          'https://res.cloudinary.com/dvujyxh7e/image/upload/c_scale,w_256/v1593097745/angular-vietnam-transparent_iwfwxa.png'
        "
        [name]="'Project'"
        [rounded]="false"
        [size]="45"
        title="Angular Clone"
      >
      </j-avatar>
      <div class="siderbar-header-titles">
        <div class="siderbar-header-title">Angular Jira Clone</div>
        <div class="siderbar-header-subtitle">Software Project</div>
      </div>
    </div>
    <div *ngFor="let link of sidebarlinks; let idx = index">
      <a
        *ngIf="link.url"
        [routerLink]="link.url"
        routerLinkActive="active"
        class="link allowed"
      >
        <svg-icon class="icon" [name]="link.icon" [size]="24"></svg-icon>
        <div class="link-name">{{ link.name }}</div>
      </a>
      <div *ngIf="!link.url" class="link not-allowed">
        <svg-icon class="icon" [name]="link.icon" [size]="24"></svg-icon>
        <div class="link-name">{{ link.name }}</div>
        <div class="not-implemented">Not implemented</div>
      </div>
      <div *ngIf="idx === 1" class="divider"></div>
    </div>
  </div>
</div>
